<form method="POST" action="/profile" enctype="multipart/form-data">

  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" value="<%= user.email %>">
  </div>

  <div class="form-group">
    <label for="image">Image</label>
    <input type="file" name="image" id="image" value="<%= user.image %>">
  </div>

  <div class="form-group">
    <label for="postcode">Postcode</label>
    <input type="file" name="postcode" id="postcode" value="<%= user.postcode %>">
  </div>

  <button class="btn btn-primary">Update</button>

</form>
