<div class="userEditPage">

  <div class="col">
    <h2 class="title">Edit your profile</h2>

    <form class="form-group" method="POST" enctype="multipart/form-data" action="/profile">

      <div>
        <label for="email">Email</label>
        <input class="form-control" type="email" name="email" id="email" value="<%= user.email %>" maxlength="30">
      </div>

      <div>
        <label for="postcode">Postcode</label>
        <input class="form-control" type="text" name="postcode" id="postcode" value="<%= user.postcode %>" pattern="[A-Z]{1,2}[0-9]{1,2}[A-Z]? [0-9][A-Z]{2}">
        <small id="postCodeHwlp" class="form-text text-muted">Enter postcode in capitals with a space, e.g., SW1 1HW</small>
      </div>

      <label for="image">Current profile image</label>
      <img class="card-img-top" src="<%= user.image %>" height="100" width="100" alt="user profile image">

      <div class="form-group">
        <label for="image">Image</label>
        <input class="form-control-file" type="file" name="image" id="image" accept="image/x-png,image/gif,image/jpeg">
        <small id="fileHelp" class="form-text text-muted">Upload an image from your computer (only jpg, png or gif)</small>
      </div>

      <button class="form-control btn btn-lg btn-block btn-primary">Update</button>

    </form>


  </div>

</div>
