<div class="col">
  <% if (user.image) { %>
    <img src="<%= user.imageSRC %>" alt="<%= user.username %>">
  <% } %>
  <h2 class="title"><%= user.username %></h2>
  <form method="POST" action="/profile">
    <input type="hidden" name="_method" value="DELETE">
    <button class="button is-danger">Delete Account</button>
  </form>
</div>
<div class="col">
  <div class="box">
    <%= user %>
  </div>
</div>
