<footer>
  <div>
    <p> <a href="#"> Max Eskell </a> </p>
    <p> <a href="#"> Github </a> </p>
    <p> <a href="#"> LinkedIn </a> </p>
    <p> <a href="#"> &copy; General Assembly 2017</a> </p>
  </div>
</footer>
