<div class="navbar fixed-bottom navbar-light bg-faded">

  <ul class="nav">

    <li class="nav-item active">
      <a href="https://www.linkedin.com/in/maxeskell/"> Max Eskell </a>
    </li>
    <li class="nav-item active">
      <a href="https://github.com/maxeskell"> Github </a>
    </li>
    <li class="nav-item active">
      <a href="https://www.linkedin.com/in/maxeskell/"> LinkedIn </a>
    </li>
    <li class="nav-item active">
      <a href="https://generalassemb.ly/?&where=london&topic=&mkt_account_id=1056949875&mkt_campaign_id=690451187&mkt_ad_group_id=36668234598&mkt_device_type=c&mkt_keyword=%2Blondon%20%2Bgeneral%20%2Bassembly&mkt_matchtype=b&mkt_placement=&mkt_ad_id=155698620644&mkt_network=g&mkt_target_id=kwd-267130051388&mkt_feed_item_id=&utm_source=google&utm_medium=paid-search-bra&utm_campaign=TS:TX:BRA:LON:BRGC:GeneralAssembly&utm_content=campus-lead-lander&utm_term=%2Blondon%20%2Bgeneral%20%2Bassembly"> &copy; General Assembly 2017</a>
    </li>

  </ul>

</div>
