  <nav>
    <ul class="menu">&#9776;</li>
      <li><a href="/">Home</a></li>
      <li><a href="/wildlifePosts/map">Map</a></li>
      <li><a href="/wildlifePosts">Gallery</a></li>
      <li><a href="/wildlifePosts/new">Add wildlife</a></li>
      <% if(locals.isAuthenticated) { %>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/logout">Logout</a></li>
        <% } else { %>
          <li><a href="/register">Register</a></li>
          <li><a href="/login">Login</a></li>
          <% } %>
    </ul>
