<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wildlife log</title>
    <link rel="icon" type="image/png" href="assets/images/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="assets/images/favicon-16x16.png" sizes="16x16" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
    <script src="js/app.js" charset="utf-8"></script>
  </head>
  
  <body>
    <nav class="container">
      <ul>
        <li class="menu">&#9776;</li>
        <div class="dropdown">
          <li><a href="#location">Location</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#menus">Menu</a></li>
          <li><a href="#gallery">Gallery</a></li>
          <li><a href="#hero">Home</a></li>
        </div>
      </ul>
    </nav>

    <h1>Wildlife log</h1>



    <footer>
      <p>&copy; General Assembly 2017</p>
    </footer>

  </body>
</html>
