<section class="jumbotron text-xs-center">
  <div class="container">
    <h2 class="jumbotron-heading">Index/gallery</h2>
    <p class="lead text-muted"> see images below</p>
  </div>
</section>

<div class="album text-muted">
  <div class="container-fluid">
    <div class="row">

      <% wildlifePosts.forEach((wildlifePost) => { %>

        <div class="card">
          <img alt="wildlife image" style="height: 150px; width: 100%; display: block;" src="<%= wildlifePost.imageSRC %>" data-holder-rendered="true">
          <p class="card-text"><a href="/wildlifePosts/<%= wildlifePost.id %>"><h3><%= wildlifePost.title %></h3></a></p>
          <% }); %>

        </div>
    </div>
  </div>
</div>
