<div class="newPage">

<div class="col">
  <h2 class="title">Log your wildlife</h2>

  <form method="POST" enctype="multipart/form-data" action="/wildlifePosts">
    <div class="form-group">
      <label for="title">Image title</label>
      <input class="form-control" type="text" name="title" id="title" required maxlength="14">
      <small id="titleHelp" class="form-text text-muted">Describe your image in a few words.</small>
    </div>

    <div class="form-group">
      <label for="image">Image</label>
      <input class="form-control-file" type="file" name="image" id="image" required accept="image/x-png,image/gif,image/jpeg">
      <small id="fileHelp" class="form-text text-muted">Upload an image from your computer (only jpg, png or gif)</small>
    </div>

    <div class="form-group">
      <p>Just click on the map to record where the image was taken</p>
      <div id="map" class="new"></div>
    </div>
    <input type="hidden" id="lat" name="lat" value="">
    <input type="hidden" id="lng" name="lng" value="">

    <div class="form-group">
      <label for="googleVision">What <a href="https://cloud.google.com/vision/docs/drag-and-drop">GoogleVision</a> thinks is in the image </label>
      <div id="checkboxes"></div>
    </div>

    <div class="form-group">
      <label for="mainContent">What wildlife is in the image</label>
      <input class="form-control" type="text" name="mainContent" id="mainContent" required maxlength="20">
    </div>

    <div class="form-group">
      <label for="description">Describe what the wildlife is doing</label>
      <textarea class="form-control" name="description" required maxlength="100"></textarea>
    </div>

    <div class="btn-toolbar">
      <button class="btn btn-lg btn-block btn-primary">Create</button>
    </div>
  </form>

</div>

</div>
