<h1>New</h1>

<div class="row">
  <form class="six columns" method="POST" action="/wildlifePosts">
    <div>
      <label for="title">Title</label>
      <input class="u-full-width" type="text" name="title" id="title">
    </div>

    <div>
      <label for="author">Author</label>
      <input class="u-full-width" type="text" name="author" id="author">
    </div>

    <div>
      <label for="description">Description</label>
      <textarea class="u-full-width" name="description"></textarea>
    </div>

    <button class="button-primary u-full-width">Create</button>
  </form>
</div>
