<div class="col loginPage">
  <h2 class="title">Login</h2>

<form method="POST" action="/login">

  <div class="form-group">
    <label class="label" for="email">Email</label>
    <input class="form-control" type="text" name="email" id="email" required>
  </div>

  <div class="form-group">
    <label class="label" for="password">Password</label>
    <input class="form-control" type="password" name="password" id="password" required>
  </div>

  <button class="btn btn-secondary btn-lg btn-block">Login</button>

  <hr/>

  <div class="form-group">
    <a href="<%= oauth.github.getLoginURL() %>" class="btn btn-primary btn-social btn-github btn-lg btn-block" style="background-color:black; border: none;"><span class="icon"><i class="fa fa-github" style="background-color:black;"></i></span><span>Login With Github</span></a>
  </div>

  <div class="form-group">
    <a href="<%= oauth.facebook.getLoginURL() %>" class="btn btn-primary btn-social btn-facebook btn-lg btn-block" style="background-color:#3b5998; border: none;"><span class="icon"><i class="fa fa-facebook" style="background-color:#3b5998;"></i></span><span>Login With Facebook</span></a>
  </div>

</form>

</div>
