$main-text-color: #485e82;
$main-background-color: #9ca9bf;
$primary-highlight-color: #523a32;
$secondary-highlight-color: #b9ac5a;
$main-font-stack: 'Karla', sans-serif;

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 500px;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }
      #floating-panel {
        position: absolute;
        top: 5px;
        left: 50%;
        margin-left: -180px;
        width: 350px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
      }
      #latlng {
        width: 225px;
      }



// body {
//   background-color: $primary-highlight-color;
//   font-family: $main-font-stack;
//   height: 100vh;
//   background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/assets/images/mossy-tree.jpg');
//   background-color: #9ca9bf;
//   background-position: center;
//   background-size: cover;
//   position: relative;
//   h1 {
//     font-size: 75px;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     color: $main-text-color;
//   }
// }
//
// .container {
//   margin: 5%;
//   background-color: $secondary-highlight-color;
// }
//
// .jumbotron {
//   padding-top: 6rem;
//   padding-bottom: 6rem;
//   margin-bottom: 0;
//   background-repeat: no-repeat;
//   background-position: bottom center;
//   background-size: cover;
// }
//
// jumbotron-heading {
//   font-weight: 300;
// }
//
// .jumbotron .container {
//   max-width: 40rem;
//   background: rgba(255,255,255,0.2);
//   padding: 2rem;
//   color: white;
// }
//
// .jumbotron p {
//   color: white;
//   text-shadow: 0 0 10px rgba(0,0,0,0.5);
// }
//
// .album {
//   padding-top: 3rem;
//   padding-bottom: 3rem;
//   background-color: #f7f7f7;
// }
//
// .card {
//   float: left;
//   width: 33.333%;
//   padding: .75rem;
//   margin-bottom: 2rem;
//   border: 0;
// }
//
// .card > img {
//   margin-bottom: .75rem;
//   max-width: 100%;
// }
//
// .card-text {
//   font-size: 85%;
// }
//
// .header-styles {
//   letter-spacing: 1px;
//   text-transform: uppercase;
//   font-weight: bold;
// }
//
// a {
//   color: #485e82;
//   text-decoration: none;
// }
//
// h1, h2, h3 {
//   @extend .header-styles;
//   margin-top: 0;
// }
//
// header {
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   z-index: 2;
//   height: 40px;
//   background-color: rgba(156, 169, 191, 0.9);
//   transition: background-color 0.2s ease;
//   &.translucent {
//     background-color: rgba(156, 169, 191, 0.9);
//   }
//
//   nav {
//     ul {
//       list-style: none;
//       padding: 0;
//       margin: 0;
//       float: right;
//       li {
//         float: left;
//         margin-left: 20px;
//         line-height: 40px;
//         &:first-of-type {
//           margin-left: 0;
//         }
//         &.menu {
//           color: $main-text-color;
//           cursor: pointer;
//           font-size: 20px;
//           display: none;
//         }
//         a {
//           color: $main-text-color;
//           @extend .header-styles;
//         }
//       }
//     }
//   }
// }
// section {
//   text-align: center;
//   h2 {
//     font-size: 28px;
//   }
//   .container {
//     padding-top: 80px;
//     padding-bottom: 80px;
//     position: relative;
//     border-bottom: 2px solid $main-text-color;
//   }
//   &:last-of-type {
//     .container {
//       border-bottom: 0;
//     }
//   }
// }
//
// #location {
//   #map {
//     height: 300px;
//     background-color: grey;
//   }
// }
//
// footer {
//   position: fixed;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   z-index: 2;
//   height: 40px;
//   background-color:  rgba(156, 169, 191, 0.8);
//   text-align: center;
//   color: $main-text-color;
//   p {
//     float: left;
//     margin: 10px 10px;
//   }
// }
//
// @media only screen and (max-width: 575px) {
//   #gallery {
//     .image {
//       margin-bottom: 15px;
//     }
//   }
//   #menus {
//     a:not(:last-of-type) {
//       margin-bottom: 5px;
//     }
//   }
//   header {
//     // originally height was at 40 but we want it to be auto so that it'll now be the height of its total children
//     height: auto;
//     nav {
//       ul {
//         li {
//           display: block;
//           float: none;
//           text-align: right;
//           &.menu {
//             display: block;
//           }
//         }
//         .dropdown {
//           display: none;
//         }
//       }
//     }
//   }
//
//
//
// }
