$main-text-color: #485e82;
$main-background-color: #9ca9bf;
$primary-highlight-color: #523a32;
$secondary-highlight-color: #b9ac5a;
$main-font-stack: 'Karla', sans-serif;

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 500px;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/assets/images/mossy-tree.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: $main-font-stack;
  color: #485e82;
  text-decoration: none;
}

.header-styles {
  letter-spacing: 1px;
  font-weight: bold;
}

h1, h2, h3 {
  @extend .header-styles;
  margin-top: 0;
}

.homepageContainer {

  .homepageTitle {
    font-size: 50px;
    color: white;
    line-height: 50px;
  }
}

.mapPage {
  margin: 10vh 0;
}

.newPage, .registerPage, .loginPage {
  background-color: white;
  margin-top: 2vh;
  border: 2px solid;
  border-radius: 10px;
}

.notification {
  height: 5vh;
  background-color: white;
  margin-top: 2vh;
  padding: 2px;
  line-height: 5vh;
  border: 2px solid;
  border-radius: 10px;
}

.jumbotron {
  margin: 2vh;
  height: 10vh;
  text-align: center;
  padding-top: 2vh;
}

.card {
  margin: 10px 0;
  text-align: center;
  font-size: 80%;
  a {
    color: $main-text-color;
  }
}

footer {
  a {
    color: $main-text-color;
  }
}
